# Created by .ignore support plugin (hsz.mobi)
# Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*/target/
*/WebRoot/WEB-INF/classes/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.classpath
.settings/*
*.iml

# ide
.idea/
*.iml

# eclipse
/.metadata/
.project
.settings/
.classpath
RemoteSystemsTempFiles/
/.recommenders/
Servers/*

